.createCourse{
  padding: 23px;
}


.create{
      display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-label{
  font-weight: 200;
}

.create-info{
  border: 1px solid black;
  padding: 20px 50px 50px 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: space-between;
}

.textarea:focus-visible{
  outline: 1px yellow;
}

.left-add-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.add-author{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.author-label{
  font-weight: 600 ;
  text-align: center;
}

.duration{
  display: flex;
    flex-direction: column;
}

.duration-result{
  font-weight: 400;
}

.duration-time{
  font-weight: 600;

}

.right-add-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.authors{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.author-name {
  font-weight: 200;
  margin: 0;
}

.author-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.course-authors{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.course-authors-label{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.course-authors-labelList{
  font-weight: 400;
}