.search-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.search-input{
    background-color: transparent;
    border: 1px solid rgba(246, 246, 59, 0.821);
    width: 25rem;
    padding: 0 20px;
}

.search-input:focus{
    outline: none;
    
}